.red{color:red;}
.blue{color:blue;}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}


.form{width:500px;}
.form .group{display:flex;line-height:34px;}
.form .key{width:100px;text-align:right;margin:5px 0 5px 10px;}
.form .value{flex:1;margin:5px 0 5px 10px;}
.form .text,.form textarea{display:block;border:1px solid #d8d8d8;width:200px;line-height:32px;height:32px;}
.form label{padding-right:10px;}

.form .btns{padding-top:40px;padding-left:122px;}
.form .btn{background:#00a0e9;border:0;display:inline-block;min-width:100px;text-align:center;line-height:34px;color:#fff;border-radius:4px;margin-right:20px;}
.form .btn.cancel{background:#d8d8d8;color:#333;}
.form .focus{box-shadow:0 0 5px #00a0e9;}