<div class="root">
  <div class="nav-box">
    <a class="nav-item" routerLink="/example1" routerLinkActive="active">设置元素可获取焦点(focusable)</a>
    <a class="nav-item" routerLink="/example2" routerLinkActive="active">指定焦点移到到某一个元素上</a>
    <a class="nav-item" routerLink="/example3" routerLinkActive="active">自定义焦点移动(自定义事件)</a>
    <a class="nav-item" routerLink="/example4" routerLinkActive="active">自定义配置</a>
    <a class="nav-item" routerLink="/example5" routerLinkActive="active">局部滚动</a>
    <a class="nav-item" routerLink="/example6" routerLinkActive="active">综合案例</a>
    <a class="nav-item" routerLink="/example7" routerLinkActive="active">电视画廊</a>
    <a class="nav-item" routerLink="/example8" routerLinkActive="active">弹出层滑动</a>
    <a class="nav-item" routerLink="/example9" routerLinkActive="active">表单</a>
    <a class="nav-item" routerLink="/example10" routerLinkActive="active">scrollTo</a>
    <a class="nav-item" routerLink="/example11" routerLinkActive="active">整体/局部滚动混合</a>
  </div>

  <div class="app-contetn">
    <router-outlet></router-outlet>
  </div>
</div>